body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
  background-attachment: fixed;
  touch-action: none;
  background-color: black;
}

a {
  text-decoration: none;
}

.stickers {
  width: 100%;
  max-width: 500px;
  background-color: black;
}
  
.carousel {
  background-color: black;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
}
  
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}
  
.carousel-item {
  min-width: 100%;
}
  
img {
  width: 100%;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.7);
  border: none;
  cursor: pointer;
}
  
.prev {
  background-color: rgba(39, 39,39, 0);
  color: White;
  left: 10px;
  height: 200px;
  width: 50px;
  font-size: 36px;
}
  
.next {
  background-color: rgba(39, 39,39, 0);
  color: White;
  right: 10px;
  height: 200px;
  width: 50px;
  font-size: 36px;
}

.bar {
  background-color: rgb(15, 15, 15);
  width: 160px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}

.giveaway {
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  margin-bottom: -50px;
  width: 93%; 
  height: 45px;
  border: none;
  border-radius: 15px;
  font-family: Geologica;
  color: black;
  font-size: 16px;
  left: 50%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.buy {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 93%; 
  height: 45px;
  border: none;
  border-radius: 15px;
  font-family: Geologica;
  color: black;
  font-size: 16px;
  margin-top: 205px;
  left: 50%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.timer-row-container {
  display: inline-block; 
  vertical-align: baseline;
  white-space: nowrap;
}

.day {
  font-family: Geologica;
  color: white;
  font-size: 20vw;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 5px; 
  margin-left: 15%;
}

.days {
  font-family: Geologica;
  color: white;
  font-size: 20vw;
  display: inline-block;
  vertical-align: baseline;
  float: right;
  margin-right: 10px;
}

.second {
  font-family: Geologica;
  color: white;
  font-size: 10vw;
  display: inline-block;
  vertical-align: baseline;
  float: right;
  margin-right: 2%;
  margin-top: -5px;
}

.seconds {
  font-family: Geologica;
  color: white;
  font-size: 10vw;
  display: inline-block;
  vertical-align: baseline;
  float: right;
  margin-right: 3%;
  margin-top: -5px;
}

.minute {
  font-family: Geologica;
  color: white;
  font-size: 10vw;
  display: inline-block;
  vertical-align: baseline;
  float: right;
  margin-right: 2%;
  margin-top: -5px;
}

.minutes {
  font-family: Geologica;
  color: white;
  font-size: 10vw;
  display: inline-block;
  vertical-align: baseline;
  float: right;
  margin-right: 3%;
  margin-top: -5px;
}

.hour {
  font-family: Geologica;
  color: white;
  font-size: 10vw;
  display: inline-block;
  vertical-align: baseline;
  float: right;
  margin-right: 2%;
  margin-top: -5px;
}

.hours {
  font-family: Geologica;
  color: white;
  font-size: 10vw;
  display: inline-block;
  vertical-align: baseline;
  float: right;
  margin-right: 3%;
  margin-top: -5px;
}


.a {
  text-decoration: none;
}

.wallet {
  background-color: rgb(21, 21, 21);
  opacity: 80%;
  border: none;
  height: 50px;
  width: 95vw;
  border-radius: 15px;
  font-family: Geologica;
  color: white;
  margin-top: 55px;
}

.send {
  background-color: white;
  width: 95%;
  height: 50px;
  border: none;
  border-radius: 15px;
  font-family: Geologica;
  color: black;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  top: 95vh;
  left: 50%;
  transform:translate(-50%, -50%);
  
}

.nft {
  background-color: rgb(15, 15, 15);
  width: 45vw;
  max-width: 200px;
  min-width: 150px;
  height: 52vw;
  max-height: 220px;
  border-radius: 15px;
  display: inline-block;
}

.info {
  color: white;
  margin-left: 10px;
  margin-top: -20px;
  font-family: Geologica;
}

.transaction {
  background-color: rgb(255, 255, 255);
  width: 90%; 
  height: 35px;
  border: none;
  border-radius: 15px;
  font-family: Geologica;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.tc {
  bottom: 0;
  position: absolute;
  
}

@media screen and (min-width: 500px) and (max-width: 100000px) {
body {
  display: none;
}
}
